<div id="previewTemplate" style="display:none">
  <li class="nav-item dz-preview dz-file-preview" style="display:none">
    <a class="dz-details" href="#">
      <span class="dz-filename"><span data-dz-name></span></span>
      (<span class="dz-size" data-dz-size></span>)
      <img data-dz-thumbnail />
    </a>
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
    <div class="dz-error-message"><span data-dz-errormessage></span></div>
  </li>
</div>
