
<nav class="col-sm-2 sidebar hidden-xs-down bg-faded ">
  <form id="my-awesome-dropzone" action="/file-upload" class="dropzone" method="post" enctype="multipart/form-data">
    <div class="fallback">
      <input name="file" type="images" multiple style="display:none"/>
    </div>
    <ul class="nav nav-pills flex-column">
      {{#each uploadFiles}}
        <li class="nav-item">
          <a class="nav-link file-read-link" href="#" fileName="{{.}}">
            {{.}}
            <span class="file-delete-link pull-right" fileName="{{.}}"><i class="fa fa-remove red"></i></span>
          </a>
        </li>
      {{/each}}
    </ul>
  </form>
</nav>

<main class="col-sm-10 offset-sm-2 pt-3">
  <div id="alertContainer"></div>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    왼쪽 목록에 조회 하실 파일을 선택하시거나 파일을 <strong>드래그앤드롭</strong>하여 추가하여 주세요.
  </div>
  <div id="mainContainer" class="row">
  </div>
</main>
{{#section "script"}}
<script>
//toolbar events
var scapel = window.scapel || {};
$(document).ready(function(){
  scapel.selected = [];
  scapel.layout = "col-sm-12";
  {{#each uploadFiles}}
    scapel.selected.push(new Scapel("{{.}}", false, 0, false));
  {{/each}}

  //file Reader
  $("a.file-read-link").on("click", function() {
    var $this = $(this);
    var fileName = $this.attr("fileName");
    var mainTemplate, viewTemplate;
    scapel.utils.highlight("a.file-read-link", "active", $this);
    scapel.selected.push(new Scapel(fileName, true, 0, true));
  });

  //file remove
  $("span.file-delete-link").on("click",function(e){
    var fileName = $(this).attr("fileName");
    var removeScapel = scapel.selected.find(function(o,i) {
      return o.fileName == fileName;
    });
    console.log("removeScapel : ",removeScapel);
    if(removeScapel) {
        removeScapel.remove();
    }
    e.stopPropagation();
  });

  //modal
  $('#dashboardAddModal').on('show.bs.modal', function (e) {
    // do something...
    $.ajax({
        url : '/file-list',
        dataType : 'json',
        success : function(response) {
          var dashboardAddTemplate = Handlebars.compile($("#dashboardAddTemplate").html());
          $("#dashboardAddForm").html(dashboardAddTemplate(response));
        }
    });
  });

  $("#dashboardSubmit").on("click", function(){
    $("#dashboardAddForm").find("input:checked").each(function(index){
        console.log(index,this.value);
        scapel.selected.push(new Scapel(this.value, false, index, true));
    });
  });

  $("button.btn-layout").on("click", function() {
    let layoutClass = $(this).attr("layout");
    $(".card-panel").removeClass("col-sm-12 col-sm-6 col-sm-3").addClass(layoutClass);
    $("button.btn-layout").removeClass("active");
    $(this).addClass("active");
    scapel.layout = layoutClass;
  })
});
</script>
{{/section}}
